.icons-on .contenttype-project {
    display: inline-block;
    line-height: 2em;
    padding-left: 20px !important; 
    background:url("++resource++thet-helsinki-project-resources/project_icon.png") no-repeat scroll 0 0 transparent; }
