.icons-on .contenttype-project {
    display: inline-block;
    line-height: 2em;
    padding-left: 20px !important; 
    background-image:url("++resource++thet-helsinki-project-resources/project_icon.png");
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:0 0; }
